<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drc.mybatis.mapper.ReportimgMapper">
  <resultMap id="BaseResultMap" type="com.drc.mybatis.entity.Reportimg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reportid" jdbcType="INTEGER" property="reportid" />
    <result column="measurementValue" jdbcType="VARCHAR" property="measurementvalue" />
    <result column="path" jdbcType="LONGVARCHAR" property="path" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reportimg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.drc.mybatis.entity.Reportimg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reportimg (reportid, measurementValue, path
      )
    values (#{reportid,jdbcType=INTEGER}, #{measurementvalue,jdbcType=VARCHAR}, #{path,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.drc.mybatis.entity.Reportimg">
    update reportimg
    set reportid = #{reportid,jdbcType=INTEGER},
      measurementValue = #{measurementvalue,jdbcType=VARCHAR},
      path = #{path,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, reportid, measurementValue, path
    from reportimg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, reportid, measurementValue, path
    from reportimg
  </select>
</mapper>